<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <div class="bloc-search" >     
    <div class="btn-container"  >
      <h1>«MANAGER MOTIVANT»</h1>
      <h2>GRÂCE À DES FICHES<br/>ADAPTÉES À CHAQUE SITUATION</h2>
      <div class="search" [routerLink]="['/searchresult']" >
        <input type="text" placeholder="Recherche par mots-clés" placeholder="Recherche par mots-clés" search/>
        <ion-icon name="search" color="light"></ion-icon>
      </div>
    </div>
    </div>

</ion-content>
