ion-content {
 
  h1 {
    font-family: 'Cervo';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.222rem;
    letter-spacing: 0.224rem;

    span {
      color: #3dd4cd;
      font-size: 2.333rem;
      letter-spacing: 0.156rem;
    }
  }

  button {
    transform: scale(1);
    padding: .5rem 2rem;
    background-color: crimson;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
  }
  


  .anim {
    animation: anim .5s ease-in-out;
  }
  @keyframes anim {
    from {
      height: 0px;
    }
    to {
      height: 350px;
    }
  }

 





  .bounce {
    animation: bounce .5s ease-in-out;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }



  #btn.hide {
    opacity: 0;
  }
  .slide{
  height: 300px;
  }
  .header-banner{
  height: 300px;
  }
  
  ion-slides{
    padding-top: 200px;
  }

  .bloc-search{
    background-color: #3dd4cd;
    height: 150px;
    position: relative;
    margin-bottom: 50px;

    .btn-container {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      h1, h2 {
        text-transform: uppercase;
      }
      h1 {
        color: white;
        margin-top: 1.1rem;
        font-size: 1.2rem;
        letter-spacing: 0.313rem;
      }
      h2 {
        text-align: center;
        color: #39393a;
        font-weight: 500;
        letter-spacing: 0.225rem;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

    }


    .search {
      display: block;
      text-align: center;
      width: 250px;
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 4rem;
      position: relative;
      height : 3rem;
      ion-searchbar {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 30px;
        text-align: center;
        padding: 0 15%;
        font-size: 1.2rem;
        &::placeholder {
          color: #cecece;
          font-weight: 300;
        }
      }
      ion-icon {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 25px;
        left: 22px;
        background-image: linear-gradient(127deg, #94eefb 0%, #3dd4cd 100%);
        background-clip: content-box;
        height: 40px;
        width: 40px;
        line-height: 10px;
        border-radius: 50%;
        color: white;
      }
    }


    .categories {
      display: flex;
      max-width: 100%;
      margin: 0 auto;
      height: 350px;
      padding-top: 170px;

      .categorie {
        touch-action: manipulation;
        flex: 1 1;
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        color: white;
        position: relative;

        img {
          height: 1.5rem;
        }
        .subtext {
          margin-top: 10px;
          margin-bottom: 6px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.00rem;
          letter-spacing: 0.15rem;
        }
        .subcolor {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin: 0 auto;
        }

        &:nth-child(1) {
          .subcolor {
            background-color: #00659c;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0 auto;
          }
          &:after {
            // content: "";
            width: 1px;
            height: 16rem;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 30px;
            right: 15%;
            transform: rotateZ(20deg) translate(-50%, -50%);
          }
        }
        &:nth-child(2) {
          padding-top: 4rem;
          .subcolor {
            background-color: #002cff;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0 auto;
          }
          &:after {
            // content: "";
            width: 1px;
            height: 16rem;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 15px;
            right: -2.5%;
            transform: translate(-50%, -50%)
          }
        }
        &:nth-child(3) {
          padding-top: 4rem;
          .subcolor {
            background-color:  #6f00ff;
          }
          &:after {
            // content: "";
            width: 1px;
            height: 16rem;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: -5px;
            right: -20%;
            transform: rotateZ(-20deg) translate(-50%, -50%);
          }
        }
        &:nth-child(4) {
          .subcolor {
            background-color: #009bff;
          }
        }
      }
    }
  }
    
.bloc-slider {   
position: relative;
bottom: 0;
padding-top: 20px;
height: auto;
width: 100%;
}



ion-list {

  .title-result {
  text-align: center;
  color: cadetblue;
   }
  .bloc {
   


  h4 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.922rem;
    letter-spacing: 0.024rem;
  
}



  }

  .text {
    left: 30px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.124rem;
    text-transform: uppercase;
    color: #4a4a4a;
}



}

searchbar-input {
background-color: white;
}


.cat-container {
position: relative;
 h1 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.922rem;
    letter-spacing: 0.224rem;
  
}
  p {
    text-align: center;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    color: #4a4a4a;
  font-size: 1.1rem;
    line-height: 1.4rem;
}

.title-cat {
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
    border-top: 1px solid rgba(#39d1b6, 0.5) !important;
    height: 50px;
}

.list-cat {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-top: 1px solid rgba(#39d1b6, 0.5) !important;
    max-height: 150px;
    min-height: 50px;
}
}


}



.searchbar-clear-icon { display: none !important; }
